@font-face {
    font-family: 'Public Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Public Sans Regular'), url('data/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf');
  }
  